body {
    background-image: url("vibingcat.gif");
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

img {
    justify-self: center;
    height: 200px;
    width: 200px;
}

div {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1000px;
    border: 10px solid white;

    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

p {
    font-size: 20px;
}

h1 {
    color: white;
    font-size: 40px;
}

#buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#playerChoice {
    background-color: rgb(206, 248, 40);
}

#computerChoice{
    background-color: aqua;
}

#roundResult {
    background-color: coral;
}

#scoreCounter {
    background-color: rgb(255, 141, 236);
}

#winnerResult {
    font-size: 80px;
    font-weight: bold;
    color: white;
    

    text-shadow: #A3A3A3 3px 3px 1px;
    
}
